* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
    --font-news: Inner;
    --font-footer: "Open Sans";
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid #2e80ce;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--height);
    background: #2e80ce;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.controls {
    margin-top: 38px;
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
}
.control__item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.control__item:hover .control__icon {
    color: #575f66;
}
.control__item:hover {
    background: #2e80ce;
    border: none;
}
.control__item:hover .control__icon {
    color: #fff;
    cursor: pointer;
}
/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo__circle::before,
.logo__circle::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 1.1em;
    left: 1.1em;
    background: #ffffff;
}
.logo__text {
    margin-left: 0.6em;
    text-align: right;
}
.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    /* line-height: 1.4em; */
}
.logo__brand--smile {
    font-size: 1.2em;
    font-weight: 300;
}
.nav__list {
    display: flex;
}

.nav__link:hover,
.nav__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}
.nav__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -2px;
    left: -8px;
}
.nav__link {
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 7px;
}
.header-action__login {
    padding: 4px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.header-action__signup {
    --height: 40px;
    min-width: 104px;
}
/* Hero */
.hero {
    padding: 76px 0 110px;
    display: flex;
}
.hero__content {
    flex-shrink: 0;
    width: 44%;
}
.hero__heading {
    margin-top: 60px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}
.hero__desc {
    width: 468px;
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
.hero__images {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.hero__image:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__image:last-child {
    margin-left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}
/* Services */
.service {
    padding: 170px 0;
    background: #fff;
}
.service__heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.service_desc {
    margin-top: 18px;
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.service__body {
    margin-top: 70px;
    display: flex;
}
.service__image {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service__content {
    padding: 35px 0 35px 130px;
}
.service__list {
}
.service-item {
    display: flex;
    padding: 10px 18px 20px;
}
.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item__body {
    padding-top: 10px;
}
.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}
.service__link {
    display: inline-block;
    margin-top: 55px;
}
/* How it work */
.work {
    padding: 100px 0 116px;
    background: #f6fbff;
}
.work__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.work__desc {
    margin-top: 18px;
    width: 40%;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.work-list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.work-item {
    padding: 42px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
}
.work-item__icon {
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.work-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.work-item__link {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.work-item:hover {
    border-color: #2e80ce;
    margin-top: -16px;
}
.work-item:hover .work-item__link {
    color: #2e80ce;
    font-weight: 400;
}
/* Features */
.features {
    padding: 70px 0;
}
.features__row {
    display: flex;
    align-items: center;
}
.features__images {
    width: 49%;
    display: flex;
}
.features__image:first-child {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.features__image:last-child {
    position: relative;
    margin: 121px 0 0 -238px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}
.features__content {
    padding-left: 130px;
}
.features__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.features__desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.66;
}
.features__btn {
    margin-top: 38px;
    display: block;
    width: 205px;
}
/* Member */
.member {
    padding: 170px 0;
}
.member__heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.member__btn {
    display: block;
    margin: 38px auto 0;
    width: 206px;
}
.member-list {
    margin-top: 85px;
    display: flex;
    gap: 30px;
}
.member-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}
.member-item__thumb {
    display: block;
    padding: 28px 4px 0;
    max-width: 100%;
    height: 290px;
    border-radius: 6px;
    object-fit: cover;
    background: #eaf6ff;
}
.member-item__name {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.member-item__detail {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

/* Install app */
.install-app {
    margin-top: 95px;
    border-radius: 4px;
}
.install-app__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2e80ce;
}
.install-app__mobile-image {
    display: block;
    margin-top: -95px;
    margin-left: 70px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}
.install-app-content {
    /* padding-left: 160px; */
    /* padding-left: 514px;                                                                          */
    width: 50%;
}
.install-app__heading {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.install-app__desc {
    margin-top: 18px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
}
.install-app__btns {
    margin-top: 38px;
    display: flex;
    gap: 28px;
}

/* news */
.news {
    padding: 170px 0;
}
.news__body {
    display: flex;
    align-items: center;
    gap: 130px;
}
.news__content {
    flex: 1;
    flex-shrink: 0;
}
.news__heading {
    width: 470px;
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.news__link {
    display: inline-block;
    padding: 28px 0;
    color: #10375c;
    font-family: var(--font-news);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration-line: underline;
}
.news__control {
    margin-top: 0;
    justify-content: flex-start;
}
.news-list {
    display: flex;
    gap: 30px;
}
.news-item {
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    transition: 0.25s;
}
.news-item:hover {
    border: none;
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.news-item:hover .news-item__link {
    color: #2e80ce;
}
.news-item:hover .news-item__thumb {
    transform: scale(1.1);
}
.news-item__thumb {
    width: calc(100% + 2px);
    margin-left: -1px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    transition: 0.25s;
}
.news-item__body {
    padding: 18px 22px;
}
.news-item__title {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
}
.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}
.news-item__link {
    display: block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}
/* Appointment */

.appointment__body {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6fbff;
}
.appointment__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.appointment__desc {
    position: relative;
    margin-top: 38px;
    width: 53%;
    color: #575f66;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.appointment__desc::after {
    content: "";
    position: absolute;
    display: block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.appointment-cta {
    margin-top: 38px;
}
/* Footer */
.footer {
    padding: 100px 0 42px;
    background: #10375c;
}
.footer__row {
    display: flex;
    gap: 78px;
}
.footer__column {
    flex-shrink: 0;
}
.footer__column:first-child .footer__desc {
    margin-top: 21px;
    width: 336px;
}
.footer__desc {
    color: #a9b3bb;
    font-family: var(--font-footer);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}
.footer__heading {
    color: #fff;
    font-family: var(--font-footer);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}
.footer__list {
    padding: 15px 0 23px;
}
.footer__item {
    padding: 5px 0;
}
.footer__link {
    color: #a9b3bb;
    font-family: var(--font-footer);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.footer__socials {
    margin: 20px 0 28px;
    display: flex;
    gap: 10px;
}
.footer__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    transition: 0.25s;
}
.footer__icon {
    color: #2e80ce;
}
.footer__image:hover {
    background: #2e80ce;
    transform: scale(1.1);
}
.footer__image:hover .footer__icon {
    color: #fff;
}
.footer__socials + .footer__heading {
    margin-bottom: 20px;
}
.footer__socials ~ .footer__desc {
    display: block;
    width: 273px;
}
.footer-form {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}
.footer-form__email {
    padding: 0 10px;
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    outline: none;
    background: transparent;
    color: #9ca8b1;
    font-family: var(--font-footer);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}
.footer-form__email::placeholder {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
}
.footer-form__submit {
    min-width: 108px;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    background: #2e80ce;
    font-family: var(--font-footer);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1, 86;
}
.footer__copyright {
    margin-top: 58px;
    position: relative;
    text-align: center;
}
.footer__copyright::before {
    position: absolute;
    top: -28px;
    content: "";
    display: block;
    background: #406181;
    width: 1170px;
    height: 1px;
}
