* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}
/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    border-radius: 99px;
    border: 1px solid #2e80ce;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: var(--height);
    background: #2e80ce;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo__circle::before,
.logo__circle::after {
    display: inline-block;
    content: "";
    border-radius: 50%;
}
.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    top: 1.1em;
    left: 1.1em;
    background: #ffffff;
}
.logo__text {
    margin-left: 0.6em;
    text-align: right;
}
.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    /* line-height: 1.4em; */
}
.logo__brand--smile {
    font-size: 1.2em;
    font-weight: 300;
}
.nav__list {
    display: flex;
}

.nav__link:hover,
.nav__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}
.nav__link--active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -2px;
    left: -8px;
}
.nav__link {
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 7px;
}
.header-action__login {
    padding: 4px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.header-action__signup {
    --height: 40px;
    min-width: 104px;
}
/* Hero */
.hero {
    padding: 76px 0 110px;
    display: flex;
}
.hero__content {
    flex-shrink: 0;
    width: 44%;
}
.hero__heading {
    margin-top: 60px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}
.hero__desc {
    width: 468px;
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}
.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
.hero__images {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.hero__image:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__image:last-child {
    margin-left: -6px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
}
/* Services */
.service {
    padding: 170px 0;
    background: #fff;
}
.service__heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.service_desc {
    margin-top: 18px;
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.service__body {
    margin-top: 70px;
    display: flex;
}
.service__image {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service__content {
    padding: 35px 0 35px 130px;
}
.service__list {
}
.service-item {
    display: flex;
    padding: 20px 18px;
}
.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service-item__body {
    margin-top: 10px;
}
.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}
.service__link {
    display: inline-block;
    margin-top: 55px;
}